<%= render '/layouts/navbar' %>

<section>
  <%= form_for :club, url:"/clubs", :action=>"upload" do |f| %>
    <%= f.label(:l_name, "Name:") %>
    <%= f.text_field(:name, class: 'form-control') %>
    <%= f.label(:l_description, "Description:") %>
    <%= f.text_area(:description, rows: '5', class: 'form-control') %>
    <%= f.label(:l_book, "Book ID:") %>
    <%= f.text_field(:book_id, class: 'form-control', value: 0) %>
    <%= f.submit("Create Club", class: "btn btn-primary") %>
  <% end %>
</section>
