<div class="center">
  <div class="login_container">
    <h1>Libra</h1>
    <%= form_for :user, url:"/users/edit/#{params[:id]}"  do |f| %>
      <%= f.label(:l_first_name, "First Name:") %>
      <%= f.text_field(:first_name, class: 'form-control') %>
      <%= f.label(:l_last_name, "Last Name:") %>
      <%= f.text_field(:last_name, class: 'form-control') %>
      <%= f.label(:l_email, "Email ") %>
      <%= f.text_field(:email, class: 'form-control') %>
      <%= f.label(:l_password, "Password ") %>
      <%= f.password_field(:password, :class => 'form-control') %>
      <%= f.label(:l_password_confirmation, "Confirm Password ") %>
      <%= f.password_field(:password_confirmation, :class => 'form-control') %>
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Already have an account?", "/users/login" %>
  </div>
</div>
