<%= render "layouts/navbar" %>
<section>
  <div class="news-item">
    <a href="<%= "users/#{@user.id}" %>" class="image_link profile_image">
      <img src="<%= @user.image_path %>" alt="Picture of of: <%= @user.first_name %>">
    </a>
    <h3><%= link_to "#{@user.first_name} #{@user.last_name}", "/users/#{@user.id}" %></h3>
    <p><%= excerpt(@user.bio, '', radius: 200) %></p>
  </div>
  <% @books.each do |b| %>
    <%= render "books/book", book: b, sample: true %>
  <% end %>
</section>
