<%= render "layouts/navbar" %>
<section>
  <div class="news-item">
    <img src="<%= @user.image_path %>" alt="Picture of: <%= @user.first_name %>">
    <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
      <p><%= @user.bio %></p>
  </div>
  <% @books.each do |b| %>
    <div class="news-item">
      <img src="<%= b.image_path %>" alt="Cover of: <%= b.title %>">
      <h3><%= link_to b.title, book_path(b) %></h3>
      <p><%= "#{b.user.first_name} #{b.user.last_name}" %>
      <p><%= excerpt(b.summary, "", radius: 300) %>...</p>
    </div>
  <% end %>
</section>
