<%= render "layouts/navbar" %>
<section>
  <div class="news-item">
    <img src="<%= @book.image_path %>" alt="Cover of: <%= @book.title %>">
      <h3><%= @book.title %></h3>
      <p><%= @book.summary %></p>
      <p><%= "Edit" if current_user.owner?(@book) %></p>
  </div>
</section>
